body {
  background-color: lightgray;
  font-family: 'Open Sans', sans-serif;
}

.list-title,
.main-container {
  text-align: center;
}

.list-title {
  letter-spacing: 0.03em;
  font-size: 3em;
}

.main-container {
  max-width: 22em;
  margin: 0 auto;
  padding: 0;
}

.list-input {
  width: 100%;
  margin: 0;
  padding: 0;
}

.three-qtr-col {
  width: 74%;
  margin: 0 1% 0 0;
  padding: 0;
  float: left;
}

.list-add {
  box-sizing: border-box;
  border: 0;
  border-radius: 3px;
  width: 100%;
  margin: 0;
  padding: 5px 5px;
  font-size: 0.9em;
}

.one-qtr-col {
  width: 25%;
  margin: 0;
  padding: 0;
  float: left;
}

.buttons {
  box-sizing: border-box;
  border: 0;
  border-radius: 3px;
  width: 100%;
  margin: 0;
  padding: 5px 5px;
  font-size: 0.9em;
  background-color: #fff;
}

/* Tabs */
.tabs {
  width: 100%;
  display: inline-block;
}

/* Tab Links */
/* Clearfix */
.tab-links:after {
  display: block;
  clear: both;
  content: '';
}

.tabs ul {
  border: 0;
  border-radius: 3px 3px 0 0;
  margin: 3px 0 0 0;
  padding: 0;
  overflow: hidden;
  background-color: #7fb5da;
}

.tab-links li {
  float: left;
  list-style: none;
  width: 50%;
}

.tab-links a {
  padding: 5px 0;
  display: inline-block;
  width: 100%;
  background-color: #7fb5da;
  text-decoration: none;
  transition: all linear 0.15s;
}

/*

.tab-links a {
  padding: 9px 15px;
  display: inline-block;
  border-radius: 3px 3px 0px 0px;
  background: #7fb5da;
  font-size: 16px;
  font-weight: 600;
  color: #4c4c4c;
  transition: all linear 0.15s;
}
*/

.tab-links a:hover {
  background: #a7cce5;
  text-decoration: none;
}

li.active a,
li.active a:hover {
  background: #fff;
  color: #4c4c4c;
  border-radius: 3px 3px 0px 0px;
}

/* Content of Tabs */
.tab-content {
  padding: 15px;
  border-radius: 0 0 3px 3px;
  box-shadow: -1px 1px 1px rgba(0,0,0,0.15);
  background: #fff;
}

.tab {
  display: none;
}

.tab.active {
  display: block;
}
